<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h2>iQQ SMART HOME CONTROLLER<small>V.1.0</small>
				</h2>
			</div>
			
			<!-- Cục Thời tiết -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">NHIỆT ĐỘ - ĐỘ ẨM PHÒNG</h3>
					Nhiệt độ:{{tem}}<br>
					Độ ẩm	:{{hum}}
				</div>
			</div>

			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">BẬT TẮT THIẾT BỊ</h3>
					
					<button class="button" ng-click="thietbi1on()" ng-value="1">
						Bật thiết bị 1
					</button>								
					<button class="button" ng-click="thietbi1off()" ng-value ="0">
						Tắt thiết bị 1
					</button>
					<br><br>
					<button class="button" ng-click="thietbi2on()" ng-value ="1">
						Bật thiết bị 2
					</button>
					<button class="button" ng-click="thietbi2off()" ng-value ="0">
						Tắt thiết bị 2
					</button>
					<br><br>
					<button class="button" ng-click="thietbi3on()" ng-value="1">
						Bật thiết bị 3
					</button>								
					<button class="button" ng-click="thietbi3off()" ng-value ="0">
						Tắt thiết bị 3
					</button>
					<br><br>
					<button class="button" ng-click="thietbi4on()" ng-value ="1">
						Bật thiết bị 4
					</button>
					<button class="button" ng-click="thietbi4off()" ng-value ="0">
						Tắt thiết bị 4
					</button>
				</div>
				
			</div>
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">TRẠNG THÁI THIẾT BỊ</h3>
					Thiết bị 1: {{Thietbi1}}
					Thiết bị 2: {{Thietbi2}}
					<br><br>
					Thiết bị 3: {{Thietbi3}}
					Thiết bị 4: {{Thietbi4}}					
				</div>
			</div>							
		</div>
	</div>
</div>
